 <section id="section-works" class="section appear clearfix">
			<div class="container">
				
				<div class="row mar-bot40">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-header">
							<h2 class="section-heading animated" data-animation="bounceInUp">About Me</h2>
							<p>I am currently a student in the Brown University class of 2014.5. In January I will join Two Sigma as a Quantitative Software Engineer. </p>

							<p>I play jazz piano, and enjoy long distance running, hiking, and backpacking. I have completed two marathons and a NOLS semester in the rocky mountains. </p>

						</div>
					</div>
				</div>
			</div>
	</section>
	<div id="main-content">	
		<div class="container">
			<div class="row">					
				<div class="wow bounceInRight">	
					<div class="col-lg-6">
						<a class="thumbnail">
							<img src="img/thumbnails/mount_diablo.jpg" title="Mount Diablo as seen from Tilden Park">
						</a>
					</div>
				</div>
				<div class="wow bounceInLeft">
					<div class="col-lg-6">
						<a class="thumbnail">
							<img src="img/thumbnails/rappelling.jpg" title="Rappelling near Dark Canyon">
						</a>
					</div>
				</div>
				<div class="row">					
				<div class="wow bounceInRight">	
					<div class="col-lg-6">
						<a class="thumbnail">
							<img src="img/thumbnails/buildings.jpg" title="Yo dawg I heard you like buildings...">
						</a>
					</div>
				</div>
				<div class="wow bounceInLeft">
					<div class="col-lg-6">
						<a class="thumbnail">
							<img src="img/thumbnails/puppies.jpg" title="Two favorite puppies!">
						</a>
					</div>
				</div>
			</div>
		</div>	
	</div>