<header>
<div class="main-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-4">						
						<h1><a class="navbar-brand my-name" href="#/" data-0="line-height:90px;" data-300="line-height:50px;">			Elijah ben Izzy 						</a></h1>   						
					</div>	

					<div class="col-md-8">
						<div class="dropdown">
							<ul class="nav nav-pills">
							    <li class="menu-item"> <a href="#/" >  About </a></li>
								<li class="menu-item"> <a href="#/projects"> Projects </a></li>
							    <li class="menu-item"> <a href="#/blog"> Blog </a></li>
								<li class="menu-item"> <a href="#/contact"> Contact </a></li>
							</ul>
						</div>
					</div>	
				</div>				
			</div>
		</div>
		</header>