<div class="post-heading">
<h3><a href="#">Cavebat</a></h3>
</div>
<div> 
<p>
For my capstone project this Spring, I worked with Nate Burnell and Evan Birenbaum to create a 3D bat SONAR visualization. We used the eclipse RCP framework along with JOGL to implement several models for sound propogation, in a desktop tool as well as the CAVE virtual reality platform.  

My role in the project involved implementing the models found in the following papers:

<br> <br> 

<ul class="bibliography">
<li> 
	<div class="hanging-indent"> Hartley, David J., and Roderick A. Suthers. "The sound emission pattern of the echolocating bat, Eptesicusfuscus." The Journal of the Acoustical Society of America 85.3 (1989): 1348-1351. 
	</div>
</li>

<li> 
	<div class="hanging-indent"> Ghose, Kaushik, and Cynthia F. Moss. "The sonar beam pattern of a flying bat as it tracks tethered insects." The Journal of the Acoustical Society of America 114.2 (2003): 1120-1131.
	</div>
</li> 
</ul>




</p>
</div>
