<div class="post-heading">
<h3><a href="#">Trello Gold</a></h3>
</div>
<div> 
<p>
Over the summer of 2013 I was as an intern for <a href="http://www.fogcreek.com">Fog Creek Software</a>, on the product Trello. For my intern project, I worked with my supervisor to build a paid extension to trello called <i> Trello Gold</i>. Features I added include custom board backgrounds, emoticons, and stickers. To sign up for Trello follow the instructions <a href="https://trello.com">here</a>, and to get trello gold, sign up <a href="https://trello.com/gold"> here </a>.
</p>
</div>